#content {
    font-family: "ocr";
}

#content div {
    margin: auto;
}

#game-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#store-list {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}

#store-list a{
    text-decoration: none;
    margin: auto 1em;
}

.store-img {
    width: 15em;
}

#description {
    margin-top: 0px !important;
}

#desc-containter {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

#desc-images {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    min-width: 20%;
}

#desc-images img{
    width: 100%;
    margin-bottom: 1em;
}