/* -- */

#carousel {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: space-around;
    min-height: 300px;
    max-height: 300px;
    height: 300px;
    flex-shrink: 0;
    flex-grow: 0;
}

#gamebox {
    min-width: 80%;
    max-width: 80%;
    width: 80%;
    max-height: 100%;
    min-height: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}

.gamedesc {
    font-size: 2em;
    font-family: "ocr";
    text-align: center;
}

.gameimg {
    position: relative;
    min-height: 100%;
    max-height: 100%;
    height: 100%;
    display: block;
    width: auto; 
    object-fit: contain;
}

.c-button {
    min-height: 100%;
    min-width: 7%;
    border: none;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

#descbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#descbox div {
    width: 75%;
}

#button-left {
    background-image: url("/img/arrow-left.svg");
}

#button-right {
    background-image: url("/img/arrow-right.svg");
}
