@font-face {
    font-family: 'ocr';
    src: url("/fnt/ocr-a.ttf") format('truetype');
}

@font-face {
    font-family: 'dots';
    src: url("/fnt/display.ttf") format('truetype');
}

#img-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

#content {
    font-family: "ocr";
}

#mission {
    font-family: "ocr";
    font-size: 1.2em;
    width: 75%;
    /* border: 0.25em solid black; */
    margin-left: auto;
    margin-right: auto;
    padding: 0.25em 1em;
}

body {
    background-color: var(--background);
    color: var(--foreground);
}

body::after {
    content: "";
    background-image: url("/img/grid.png");
    /* background-size: 36pt auto; */
    background-size: 61pt auto;
    background-repeat: repeat;
    opacity: 0.65;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;
}

.center-items {
    display: flex;
    justify-content: center;
}


/* Scrollbar */

::-webkit-scrollbar {width: 2px;height:2px;}
::-webkit-scrollbar-track {background: #070707;}
::-webkit-scrollbar-thumb {background: #555;}
::-webkit-scrollbar-thumb:hover {background: #f4f1e8;}
::-webkit-scrollbar-corner {background: #070707;}
