h1, h2, h3, h4, .text { text-align: center }
.text, .links {
    font-family: 'ocr';
    font-size: 1.2rem;
    width: 75%;
    /* border: 0.25em solid black; */
    margin-left: auto;
    margin-right: auto;
    padding: 0.25em 1em;
}

p {
    font-size: 1.25em;
}

li {
    display: block;
    font-size: 1.25em;
}

