body {
    background-image: url('/img/notfound-back.gif');
    background-repeat: no-repeat;
    background-size: cover;
}

#message {
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'dots';
    font-size: 6em;
    color: white;
}

#scanlines {
    background-image: url('/img/scanlines.png');
    background-repeat: repeat;
    position:absolute; top: 0px; left: 0px;
    width: 100%; height: 100%; z-index:9999;
    animation: scanAnim 0.7s infinite;
    animation-timing-function: linear;
    pointer-events: none;
}

@keyframes scanAnim {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: 0px 8px;
    }
}

#navbar {
    background-color: transparent !important;
}

#navbar a{
    background-color: transparent !important;
}

#footer {
    display: none !important;
}


#navbar a:hover {
    color: black !important;
    background-color: white !important;
}

body::after {
    opacity: 25%;
}

