:root {
    --background: #000000;
    --foreground: #ffffff;
    --icon-dark: url("/img/sun-dark.png");
    --icon-light: url("/img/sun.png");
}

.img-bw {
    filter: invert(1);
}

::selection {
    background-color: white;
    color: black;
}

::-moz-selection {
    background-color: white;
    color: black;
}