:root {
    --background: #ffffff;
    --foreground: #000000;
    --icon-dark: url("/img/moon-dark.png");
    --icon-light: url("/img/moon.png");
}

.img-bw {
    filter: none;
}

::selection {
    background-color: black;
    color: white;
}

::-moz-selection {
    background-color: black;
    color: white;
}