!doctype "html"
html {
    head {
        @include "_lib/meta.kdl"

        title "Data Sparrow - About"

        script src="/js/easydom.js"
        script src="/js/cookie.js"
        script src="/js/themeloader.js"

        link rel="stylesheet" type="text/css" href="/css/index.css"
        link rel="stylesheet" type="text/css" href="/css/page-about.css"

        link rel="stylesheet" type="text/css" href="/css/navbar.css"
    }

    body {
        @include "_lib/navbar.kdl"

        div id="content" {
            div class="mission" {
                @include "_md/meta-mission.md"
            }
            div class="center-items" { img class="img-bw" src="/img/presskit/logo-notext.png" }
        }

        @include "_lib/footer.kdl"

        @include "_lib/noscript.kdl"
    }
}
