!doctype "html"
html {
    head {
        meta http-equiv="Content-Type" content="text/html; charset=UTF-8"
        link rel="stylesheet" type="text/css" href="/css/index.css"
        title "Home"
        link rel="icon" type="image/x-icon" href="/img/presskit/logo-notext.png"
        script src="js/index.js"
        script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        script src="/lib/purejs-markdown.min.js"
        style """
            #mission {
                text-align: center;
            }
            a img {
                width: 20em;
            }

            .games {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                /* flex-flow: row; */
                justify-content: space-evenly;
                align-items: center;
                /* margin: 2em auto 2em auto; */
            }

            p {
                font-size: 1.25em;
            }

            h2 {
                font-size: 1.6em;
            }
            """
    }
    body {
        div id="content" {
            img class="img-bw" id="img-logo" src="img/presskit/logo-full.png"
            div id="mission" {
                @include "_md/meta-welcome.md"
            }
        }
        script id="navscr" src="/js/navbar.js"
    }
}
