!doctype "html"
html {
    head {
        @include "_lib/meta.kdl"

        title "Data Sparrow - Music"

        script src="/js/easydom.js"
        script src="/js/cookie.js"
        script src="/js/themeloader.js"

        link rel="stylesheet" type="text/css" href="/css/index.css"
        link rel="stylesheet" type="text/css" href="/css/games.css"

        link rel="stylesheet" type="text/css" href="/css/navbar.css"

        style """
            iframe {
                width: 100%;
                height: calc(100% - 88px);
                position: absolute;
                border: none;
            }
            """
    }

    body {
        @include "_lib/navbar.kdl"

        div id="content" {
            iframe src="https://datasparrow.bandcamp.com"
        }

        @include "_lib/footer.kdl"

        @include "_lib/noscript.kdl"
    }
}

