style ":root { --foreground: white; --background: black; }"

meta http-equiv="Content-Type" content="text/html; charset=UTF-8"
// meta name="viewport"     content="width=device-width, initial-scale=1"
// meta name="description"  content=""
// meta name="keywords"     content=""
meta name="author"       content="Data Sparrow"
meta name="color-scheme" content="light only"

link rel="icon" href="/img/presskit/logo-notext.png"

